# Ignore venv directory
venv/
# Ignore all log files
logs/
# Ignore all airflow scheduler files
airflow-scheduler.err
airflow-scheduler.out
airflow-scheduler.pid
airflow-scheduler.log
# Ignore all airflow webserver files
webserver_config.py
airflow-webserver.err
airflow-webserver.out
airflow-webserver.log
airflow-webserver-monitor.pid
# Py cache
__pycache__/
# Ignore all airflow worker files
